<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {% if post.excerpt %}
      {% if site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong>
        </p>
      {% else %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% endif %}
    {% endif %}
    
    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}
    
    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% endif %}
    
    {% if post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% endif %}

  </article>
</div>
